#particles-js {
	position: relative;
	background-color: #000000;
	width: 100vw !important;
    height: 80vh !important;
}

#particles-js > .container {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.category {
	margin: 0.6em 0;
}

.category > a{
	background-color: #9E9E9E;
    color: #fff;
    border-radius: 5px;
    padding: 0.2em;
}

.category > a:hover {
	text-decoration: none;
	background-color: #ff9800;
}

.tech img {
	width: 108px;
	height: 108px;
}