#particles-js {
	position: relative;
	background-color: #000000;
	width: 100vw !important;
    height: 80vh !important;
}

#particles-js > .container {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
